HELP.md
# Ignore build output directory
build
/bin/
/allure-results/
/test-output/
/test-recordings/*.*
/video-converted/*.*
.settings
.classpath
.project
.idea
*.iws
*.iml
*.ipr
.vscode/
target/
!**/src/main/**/target/
!**/src/test/**/target/
